@import "../Base.scss";

.detail {
    border-radius: 10px;
    width: 100%;
    height: 100%;

    .detail-content {
        height: 100%;
        width: 100%;

        .detail-body {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .detail-mask {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            font-size: 8px;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            position: relative;
            text-indent: -9999em;
            animation: load4 1.3s infinite linear;
            transform: translateZ(0);
        }

        @keyframes load4 {

            0%,
            100% {
                box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em,
                    2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
                    -2em -2em 0 0;
            }

            12.5% {
                box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0,
                    2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
                    -2em -2em 0 -1em;
            }

            25% {
                box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em,
                    2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
                    -2em -2em 0 -1em;
            }

            37.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0,
                    2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
                    -3em 0em 0 -1em, -2em -2em 0 -1em;
            }

            50% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em,
                    2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em,
                    -2em -2em 0 -1em;
            }

            62.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em,
                    2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
                    -2em -2em 0 -1em;
            }

            75% {
                box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
                    2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
                    -2em -2em 0 0;
            }

            87.5% {
                box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em,
                    2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
                    -2em -2em 0 0.2em;
            }
        }
    }
}

.poster-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(135deg, var(--color-primary-bg), var(--color-secondary-bg));
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--l-bsc);

    .poster-container {
        position: relative;
        height: 300px;
        width: 200px;
        overflow: hidden;
        border-radius: 8px;

        .poster {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .poster-overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.85)); // 渐变遮罩加深
            color: white;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;

            .title {
                font-size: 14px;
                line-height: 1.4;
                margin: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; // 限制为2行
                line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis
            }

            .rating {
                font-size: 12px;
                margin-top: 5px;
                opacity: 0.8;
            }
        }
    }

    .poster-details {
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 0.9rem;

        p {
            background-color: var(--color-secondary-bg);
            color: var(--color-text);
            padding: 10px;
            border-radius: 5px;
            box-shadow: var(--l-bsc);
            margin: 5px;
            strong {
                color: var(--color-primary);
                margin-right: 5px;
            }
        }
    }

    // 响应式设计
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .poster-container {
            max-width: 80%; // 缩小海报宽度
        }

        .poster-details {
            justify-content: center; // 居中对齐
        }
    }

    @media screen and (max-width: 768px) {
        .poster-overlay {
            .title {
                font-size: 1.2rem; // 缩小标题字体
            }

            .rating {
                font-size: 0.9rem;
            }
        }

        .poster-details {
            gap: 5px; // 减小间距
            font-size: 0.8rem; // 缩小字体
        }
    }

    @media screen and (max-width: 480px) {
        padding: 10px;

        .poster-container {
            max-width: 100%; // 适配窄屏
        }

        .poster-overlay {
            .title {
                font-size: 1rem;
            }
        }

        .poster-details {
            flex-direction: column; // 改为纵向排列
            align-items: center;
        }
    }
}

.description-section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
    box-shadow: var(--l-bsc);

    .description {
        line-height: 1.6;
        color: var(--color-text);
        font-size: 15px;
    }

    .read-more-btn {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: $button-hover-color;
        }
    }
}

.action-section {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
    box-shadow: var(--l-bsc);

    .action-btn {
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        transition: all 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        &.play-btn {
            background-color: #ff4500;
        }

        &.favorite-btn {
            background-color: var(--color-primary);
        }

        &.douban-btn {
            background-color: #2e963d;
        }

        &:hover {
            opacity: 0.9;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
    }
}


.episodes-section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; // 允许换行
    gap: 10px; 
    justify-content: space-between;
    padding: 15px;
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
    box-shadow: var(--l-bsc);

    h2 {
        font-size: 1.2rem;
        color: var(--color-primary);
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 2px solid var(--color-primary-bg);
        padding-bottom: 8px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        div {
            display: flex;
            height: 2rem;
            border-radius: 5px;
            align-content: center;
            padding: 6px 14px;
            width: 100%;
            box-sizing: border-box;
            flex: 1 1 auto;
            transition: background-color 0.3s ease, transform 0.2s;
            background-color: var(--color-body-bg); 
            border: 1px solid;
            align-content: center;
            border-color: var(--color-primary-bg);
            color: var(--color-text);

            span {
                display: inline-block;
                border: none;
                cursor: pointer;
            }

            &:hover {
                background-color: var(--color-primary-bg);
                border-color: var(--color-primary);
                color: var(--color-primary);
                transform: translateY(-2px);
                box-shadow: var(--l-bsc);
            }
        }

        .active {
            background-color: var(--color-primary);
            border-color: var(--color-primary);
            color: white;
            font-weight: bold;
        }
    }

    .episode-btn.h1 {
        height: 1px;
        visibility: hidden
    }
}

.recommend-section {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
    box-shadow: var(--l-bsc);

    h2 {
        font-size: 1.2rem;
        color: var(--color-primary);
        margin-bottom: 15px;
        border-bottom: 2px solid var(--color-primary-bg);
        padding-bottom: 8px;
    }
}