@import "../Base.scss";
.panel {
    background: var(--color-secondary-bg);
    border-radius: 10px;
    color: var(--color-text);

    .movieSearch {
        padding: 10px;
    }

    .big-cat {
        display: flex;
        @include responseTo('phonePortrait') {
            margin-bottom: 4px;
        }
    }

    .name {
        font-size: 20px;
        font-weight: 600;
        opacity: 0.68;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responseTo('phonePortrait') {
            min-width:48px;
        }
        @include responseTo('desktop') {
            min-width: 64px;
        }
    }

    .cats {
        display: flex;
        flex-wrap: wrap;
    }

    .cat {
        user-select: none;
        display: flex;
        font-weight: 500;
        font-size: 16px;
        transition: 0.2s;
        height: 40px;
        align-items: center;
        justify-content: center;

        span {
            cursor: pointer;

            &:hover {
                opacity: 1;
                background-color: var(--color-primary-bg);
                color: var(--color-primary);
            }
            
            @include responseTo('phonePortrait') {
                padding: 2px 4px;
            }
            @include responseTo('desktop') {
                padding: 6px 12px;
            }
        }
    }

    .cat.active {
        color: var(--color-primary);
    }

    @include responseTo('phonePortrait') {
        margin-top: 0;
        padding: 1px;
    }
    @include responseTo('desktop') {
        margin-top: 10px;
        padding: 8px;
    }
}

.panelBody {
    color: var(--l-fc-1);
    background-color: var(--l-bgc-1);
    overflow: auto;
    width: 100%;

    .showPicture {
        height: 100%;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.pagination {
    display: flex;
    justify-content: flex-end;
}