@import '../Base.scss';

.play {
    height: 100%;
    overflow: auto;
    padding: 0;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @include responseTo('desktop') {
        border-radius: 5px;
        background-color: var(--l-bgc-1);
        box-shadow: var(--l-bsc);
    }

    .box {
        border-radius: 5px;
        color: var(--l-fc-1);
        height: 100%;

        @include responseTo('desktop') {
            padding: 0 10px;
        }

        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;

            span {
                line-height: 40px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .right {
                margin-left: auto;
                font-size: 0;
                float: right;

                svg {
                    stroke: var(--l-fc-1);
                    stroke-width: 1;
                    fill: none;
                    display: inline-block;
                    cursor: pointer;

                    &:hover {
                        stroke: var(--l-c-8);
                        stroke-width: 1.5;
                        fill: var(--l-c-2);
                    }
                }
            }
        }

        .player {
            width: 100%;
            overflow: hidden;

            .dplayer,
            .iframePlayer {
                height: 100%;
                width: 100%;
            }


            @include responseTo('phonePortrait') {
                height: 40%;
            }

            @include responseTo('phoneLandscape') {
                height: 100%;
            }

            @include responseTo('desktop') {
                height: calc(100% - 90px);
            }
        }
    }
}

  .episodes-section {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; // 允许换行
    gap: 10px; 

    h2 {
        line-height: 40px;
        font-size: 1.2rem;
        color: #333;
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        div {
            display: flex;
            height: 2rem;
            border-radius: 5px;
            align-content: center;
            padding: 6px 14px;
            width: 100%;
            box-sizing: border-box;
            flex: 1 1 auto;
            transition: background-color 0.3s ease, transform 0.2s;
            // background-color: #E6B8A2; 
            border: 1px solid;
            align-content: center;
            border-color: var(--l-c-5);

            span {
                display: inline-block;
                border: none;
                cursor: pointer;
            }

            &:hover {
                background-color: var(--l-c-5);
                border-color: var(--l-c-5);
            }
        }

        &.active {
            background-color: var(--l-c-5);
            border-color: var(--l-c-5);
        }
    }

}