@import "../Base.scss";

.settingsPage {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .container {
        margin-top: 24px;
        width: 100%;

        .logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: var(--color-secondary-bg);
            color: var(--color-text);
            padding: 16px 20px;
            border-radius: 16px;
            margin-bottom: 48px;

            img.avatar {
                user-select: none;
                border-radius: 50%;
                height: 64px;
                width: 64px;
            }

            .left {
                display: flex;
                align-items: center;
                user-select: none;

                .info {
                    margin-left: 24px;
                }

                .nickname {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 2px;
                }

                .extra-info {
                    font-size: 13px;

                    .text {
                        opacity: 0.68;
                    }

                    .vip {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .right {
                .svg-icon {
                    height: 18px;
                    width: 18px;
                    margin-right: 4px;
                }

                a,
                button {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                    border-radius: 10px;
                    padding: 8px 12px;
                    opacity: 0.68;
                    color: var(--color-text);
                    transition: 0.2s;

                    margin: {
                        right: 12px;
                        left: 12px;
                    }

                    &:hover {
                        opacity: 1;
                        background: #eaeffd;
                        color: #335eea;
                    }

                    &:active {
                        opacity: 1;
                        transform: scale(0.92);
                        transition: 0.2s;
                    }
                }
            }
        }

        h3 {
            margin-top: 48px;
            padding-bottom: 12px;
            font-size: 26px;
            color: var(--color-text);
            border-bottom: 1px solid rgba(128, 128, 128, 0.18);
        }
    }

    .button {
        color: var(--color-text);
        background: var(--color-secondary-bg);
        padding: 8px 12px 8px 12px;
        font-weight: 600;
        border-radius: 8px;
        transition: 0.2s;

        &:hover {
            transform: scale(1.06);
        }

        &:active {
            transform: scale(0.94);
        }
        
        @include responseTo('phonePortrait') {
            display: block;
        }
    }
}


input.text-input.margin-right-0 {
    margin-right: 0;
}

input.text-input {
    background: var(--color-secondary-bg);
    border: none;
    margin-right: 22px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    color: var(--color-text);
    font-weight: 600;
    font-size: 16px;
    
    @include responseTo('phonePortrait') {
        margin-bottom: 10px;
        width: 300px;
        display: block;
    }
}

input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#proxy-form {
    display: flex;
    align-items: center;
    
    @include responseTo('phonePortrait') {
        display: block;
    }
}

#proxy-form.disabled {
    opacity: 0.47;

    button:hover {
        transform: unset;
    }
}

#shortcut-table {
    font-size: 14px;
    /* border: 1px solid black; */
    user-select: none;
    color: var(--color-text);

    .row {
        display: flex;
    }

    .row.row-head {
        opacity: 0.58;
        font-size: 13px;
        font-weight: 500;
    }

    .col {
        min-width: 192px;
        padding: 8px;
        display: flex;
        align-items: center;

        /* border: 1px solid red; */
        &:first-of-type {
            padding-left: 0;
            min-width: 128px;
        }

        .personalUseTip {
            color: var(--color-error);
            padding-left: 6px;
        }
    }

    .keyboard-input {
        font-weight: 600;
        background-color: var(--color-secondary-bg);
        padding: 8px 12px 8px 12px;
        border-radius: 0.5rem;
        min-width: 146px;
        min-height: 34px;
        box-sizing: border-box;

        &.active {
            color: var(--color-primary);
            background-color: var(--color-primary-bg);
        }

        &.error {
            color: var(--color-error);
        }
    }

    .restore-default-shortcut {
        margin-top: 12px;
    }

    &.global-disabled {
        .row .col:last-child {
            opacity: 0.48;
        }

        .row.row-head .col:last-child {
            opacity: 1;
        }
    }

    &:focus {
        outline: none;
    }
}

.footer {
    text-align: center;
    margin-top: 6rem;
    color: var(--color-text);
    font-weight: 600;

    .author {
        font-size: 0.9rem;
    }

    .version {
        font-size: 0.88rem;
        opacity: 0.58;
        margin-top: -10px;
    }
}

.item {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);

    :global {

        .title {
            font-size: 16px;
            font-weight: 500;
            opacity: 0.78;
        }

        .description {
            font-size: 14px;
            margin-top: 0.5em;
            opacity: 0.7;
        }
    }
}