@import "../Base.scss";
.card {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-color: var(--color-body-bg);
  box-shadow: var(--l-bsc);
  color: var(--color-text);

  &:hover {
    box-shadow: var(--l-bsc-hover);
    width: 102%;
    height: 102%;
  }

  .update {
    position: absolute;
    top: 5%;
    left: -40%;
    width: 100%;
    background-color: #68b88e;
    color: #cdcdcd;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    transform: rotate(-45deg);
  }

  .img {
    position: relative;
    min-height: 40px;

    img {
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .rate {
      position: absolute;
      top: 3%;
      right: -40%;
      width: 100%;
      background-color: #111111aa;
      color: #2f90b9;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      font-weight: bolder;
      text-align: center;
      transform: rotate(45deg);
    }

    .site {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      background-color: #111111aa;
      color: #2f90b9;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      font-weight: bolder;
      text-align: center;
    }

    .operate {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #111111aa;
      width: 100%;
      font-size: 13px;

      @include responseTo('phonePortrait');
      @include responseTo('phoneLandscape') {
        display: block;
      }

      @include responseTo('desktop') {
        display: none;
      }

      .operate-wrap {
        display: flex;
        justify-content: space-between;

        .o-play,
        .o-star {
          cursor: pointer;
          display: inline-block;
          width: 80px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          color: #cdcdcd;

          &:hover {
            background-color: #111;
          }
        }
      }
    }
  }

  .name {
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;

    .note {
      display: inline-block;
      max-width: 60px; // 你可以根据需要调整宽度
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
    }
  }

  &:hover {
    .operate {
      display: block;
    }
  }
  
}