@import "../../Base.scss";

main {
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scrollbar-width: none;
  
  @include responseTo('phonePortrait') {
    padding: 36px 8px 56px 8px;
  }
  
  @include responseTo('phoneLandscape') {
    padding: 36px 8px 56px 8px;
  }

  @include responseTo('desktop') {
    padding: 106px 10vw 46px 10vw;
  }
}

.pageMain {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
      width: 0;
  }
}
